<p>inicia-secion works!</p>

<div class="container mt-5 rounded custom-shadow">
    <div class="row align-items-stretch">
      <div class="col-bg---custom col-xl-6 col-md-5  rounded">

      </div>

      <div class=" col-xl-6  col col-md-7 col-sm-12 p-4 rounded-end mb-5">
        <h4 class="text-center py-5">No te pierdas las próximas salidas</h4>
        <form class="needs-validation"novalidate>
          <div class="mb-3">
            <label for="exampleInputNombre" class="form-label">Nombre</label>
            <input type="text" class="form-control custom-input" id="exampleInputNombre"placeholder="ingrese su nombre"required/>
            <div class="invalid-feedback">
              debe ingresar un nombre
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputApellido" class="form-label">Apellido</label>
            <input type="text" class="form-control custom-input" id="exampleInputApellido"placeholder="ingrese su apellido"
              required/>
              <div class="invalid-feedback">
                debe ingresar su apellido
              </div>
          </div>

          <div class="mb-3 mb-5">
            <label for="exampleInputEmail" class="form-label">Email</label>
            <input type="email" class="form-control custom-input" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="email@dominio.com" required />
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox"  id="terms" required/>
              <label class="form-check-label mb-3" for="terms">
                Acepta los términos y condiciones
              </label>
              <div class="valid-feedback">
                Debe estar de acuerdo antes de enviar.
              </div>
            </div>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              Suscribite
            </button>
            <legend class="text-center mt-3">Para recibir novedades</legend>
          </div>
        </form>
      </div>
    </div>
  </div>