
.col-bg--custom{
    background:linear-gradient(rgba(5, 7, 12, 0.4), rgba(5, 7, 12, 0.4)), url(../../../assets/img/login/imagen04.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:unset;
  }