<div class="container w-75  mt-5 rounded custom-shadow">
  <div class="row align-items-stretch">
<!--imagen de fondo izquierda-->
    <div class="col-bg--custom  col-xl-7  col-lg-5  d-lg-block rounded">
    </div>
<!--imagen de fondo izquierda-->

<!--login lado derecho-->
    <div class="  col-md-5 col col-xl-5 col-md-12 p-4 rounded-end">
<!--logo miniatura-->
      <div class="text-end">
        <img src="../../../assets/img/header/logoMountainBlanco.png" width="60" alt="">
      </div>
<!--/logo miniatura-->
      <h2 class="fw-bold text-center py-5">Bienvenido otra vez</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="mb-3">
          <label for="exampleInputUsername1" class="form-label">Ingrese su nombre de usuario</label>
          <input type="text" formControlName="username"  required>
          <!-- Mostrar mensaje de error si el campo username no tiene valor -->
          <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
            <small class="text-danger">El nombre de usuario es requerido.</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
          <input type="password" formControlName="password" required>
          <!-- Mostrar mensaje de error si el campo password no tiene valor -->
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            <small class="text-danger">La contraseña es requerida.</small>
          </div>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Iniciar Sesión</button>  
        </div>
        <div class="my-3">
          <p class="registrate">No tienes cuenta?<a routerLink="/register">   Regístrate</a></p> <br>
          <!-- <span><a href="">Recuperar Contraseña</a></span> -->
        </div>
      </form>
    </div>
  </div>
</div>


