<h1 class="container">Admin Panel</h1>
<div class="container mt-5">

  <!-- inicio de blog -->
  <div class="d-flex justify-content-start align-items-center mb-3">
    <h2>Lista de blogs</h2>
    <button class="btn btn-outline-secondary bg-primary ms-4 text-white hover-button" type="button"
      data-bs-toggle="collapse" data-bs-target="#blogList" aria-expanded="false" aria-controls="blogList"><i
        class="fas fa-chevron-down text-white "></i></button>
    <!-- boton para abrir modal de creacion (nueva entrada de blog) -->
    <button class="btn btn-outline-secondary bg-success ms-4 text-white hover-button" type="button"
      data-bs-toggle="modal" data-bs-target="#NuevoBlogModal" aria-expanded="false"><i
        class="fa-solid fa-square-plus "></i></button>
  </div>
  <div class="collapse" id="blogList">
    <ul class="row list-group list-group-flush">
      <div *ngFor="let blog of blogs">
        <li class="col list-group-item mb-2 d-flex li-background"><!-- *ngFor="let blogs of blog" -->
          <input [(ngModel)]="blog.id" #identificadorBlog style="display: none;"> <!-- para ngModel luego -->
          <img src="{{blog.imagen}}" class="rounded mt-3 w-25 shadow-button fixed-height" alt="{{blog.titulo}}">
          <div class="ms-4">
            <h5 class="card-title mb-2 mt-2 text-white">{{blog.titulo}}</h5>
            <p class="card-text mb-2 salto-linea text-white">{{blog.articulo}}</p>
            <small class="text-muted">{{blog.fecha}}</small>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-5 d-flex align-items-center">
              <div class="d-flex align-items-center">
                <!-- <button type="button" title="Cambiar Imagen" class="btn btn-lg m-1 fa-regular fa-image text-white rounded bg-info shadow-button border-0 hover-button"></button>-->
                <button type="button" data-bs-target="#EditarBlogModal" data-bs-toggle="modal"
                (click)="editarBlogF(identificadorBlog.value, blog.imagen, blog.titulo, blog.articulo, blog.fecha)"
                  title="Editar Titulo/Textos"
                  class="btn btn-lg m-1 fa-solid fa-pen-fancy text-white rounded bg-primary shadow-button border-0 hover-button"></button>
                <button type="button" title="Eliminar Articulo"
                  class="btn btn-lg m-1 fa-solid fa-trash-can text-white rounded bg-danger shadow-button border-0 hover-button"></button>
              </div>
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>

  <!-- inicio de Recorridos  -->
  <div class="d-flex justify-content-start align-items-center mb-3">
    <h2>Lista de Recorridos</h2>
    <button class="btn btn-outline-secondary bg-primary ms-4 text-white hover-button" type="button"
      data-bs-toggle="collapse" data-bs-target="#RecorridosList" aria-expanded="false" aria-controls="RecorridosList"><i
        class="fas fa-chevron-down text-white "></i></button>
    <!-- boton para abrir modal de creacion (nueva entrada de recorridos) -->
    <button class="btn btn-outline-secondary bg-success ms-4 text-white hover-button" type="button"
      data-bs-toggle="modal" data-bs-target="#NuevoRecorridoModal" aria-expanded="false"><i
        class="fa-solid fa-square-plus "></i></button>
  </div>
  <div class="collapse" id="RecorridosList">
    <ul class="row list-group list-group-flush">
      <div *ngFor="let i of recorridos">
          <li class="col list-group-item mb-2 d-flex li-background"><!-- *ngFor="let blogs of blog" -->
            <input [(ngModel)]="i.id" #identificador style="display: none;"> <!-- no olvidar agregar el ngModel -->
            <img src="{{i.imagen}}" class="rounded mt-3 w-25 shadow-button fixed-height" alt="{{i.titulo}}">
            <div class="ms-4">
              <h5 class="card-title mb-2 mt-2 text-white">{{i.titulo}}</h5>
              <p class="card-text mb-2  text-white">{{i.descripcion}}</p>
              <p class="card-text mb-2  text-white">{{i.dificultad}}</p>
              <p class="card-text mb-2  text-white">{{i.precio | currency}}</p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-5 d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <button type="button" data-bs-target="#EditarRecorridoModal" data-bs-toggle="modal"
                  (click)="editar(identificador.value,i.imagen,i.titulo,i.descripcion, i.dificultad, i.precio)"
                  title="Editar Titulo/Textos"
                  class="btn btn-lg m-1 fa-solid fa-pen-fancy text-white rounded bg-primary shadow-button border-0 hover-button"></button>
                  <button type="button" title="Eliminar recorrido"
                  (click)="borrarRecorrido(identificador.value)"
                  class="btn btn-lg m-1 fa-solid fa-trash-can text-white rounded bg-danger shadow-button border-0 hover-button"></button>
                </div>
              </div>
            </div>
          </li>
        </div>
      </ul>
    </div>

  <!-- Lista de guias -->
  <div class="d-flex justify-content-start align-items-center mb-3">
    <h2>Lista de guias</h2>
    <button class="btn btn-outline-secondary bg-primary ms-4 text-white hover-button" type="button"
      data-bs-toggle="collapse" data-bs-target="#guiasList" aria-expanded="false" aria-controls="guiasList"><i
        class="fas fa-chevron-down text-white "></i></button>
    <!-- boton para abrir modal de creacion (nueva entrada de guias) -->
    <button class="btn btn-outline-secondary bg-success ms-4 text-white hover-button" type="button"
      data-bs-toggle="modal" data-bs-target="#NuevoGuiaModal" aria-expanded="false"><i
        class="fa-solid fa-square-plus "></i></button>
  </div>
  <div class="collapse" id="guiasList">
    <ul class="row list-group list-group-flush">
      <div *ngFor="let guia of guias">
        <li class="col list-group-item mb-2 d-flex li-background"><!-- *ngFor="let blogs of blog" -->
          <input #identificador style="display: none;"> <!-- para ngModel luego -->
          <img src="{{guia.foto}}" class="rounded mt-3 w-25 shadow-button fixed-height" alt="{{guia.nombre}} {{guia.apellido}}">
          <div class="ms-4">
            <h5 class="card-title mb-2 mt-2 text-white">{{guia.nombre}} {{guia.apellido}}</h5>
            <p class="card-text mb-2 salto-linea text-white">{{guia.descripcion}}</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-5 d-flex align-items-center">
              <div class="d-flex align-items-center">
                <!-- <button type="button" title="Cambiar Imagen" class="btn btn-lg m-1 fa-regular fa-image text-white rounded bg-info shadow-button border-0 hover-button"></button>-->
                <button type="button" data-bs-target="#EditarGuiaModal" data-bs-toggle="modal"
                  title="Editar Titulo/Textos"
                  class="btn btn-lg m-1 fa-solid fa-pen-fancy text-white rounded bg-primary shadow-button border-0 hover-button"></button>
                <button type="button" title="Eliminar Guia"
                  class="btn btn-lg m-1 fa-solid fa-trash-can text-white rounded bg-danger shadow-button border-0 hover-button"></button>
              </div>
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>
</div>


<!-- Inicio modal editar recorrido -->
   <div class="modal fade" id="EditarRecorridoModal" tabindex="-1" aria-labelledby="RecorridoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="text-dark" id="RecorridoModalLabel">Editar Recorrido</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="form-control fw-bold border-0 p-2">
            Imagen (URL)
            <input class="form-control" type="text" [(ngModel)]="editarRecorrido.imagen">
            Titulo
            <input class="form-control" type="text" [(ngModel)]="editarRecorrido.titulo">
            Articulo
            <textarea class="form-control" rows="15" type="text"  [(ngModel)]="editarRecorrido.descripcion"></textarea>
            Dificultad
            <input class="form-control" type="text" [(ngModel)]="editarRecorrido.dificultad">
            Precio
            <input class="form-control" type="number" [(ngModel)]="editarRecorrido.precio">
          </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" title="Subir cambios" class="btn btn-lg m-1 fa-solid fa-cloud-arrow-up text-white rounded bg-success shadow-button border-0 hover-button" (click)="editRecorrido()"></button>
        </div>
      </div>
    </div>
  </div>
  <!-- FINAL MODAL editar Recorrido-->

  
<!-- Inicio modal agregar nuevo recorrido -->
<div class="modal fade" id="NuevoRecorridoModal" tabindex="-1" aria-labelledby="RecorridoNuevo" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="text-dark" id="RecorridoNuevo">Editar Recorrido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="form-control fw-bold border-0 p-2">
          Imagen (URL)
          <input class="form-control" type="text" [(ngModel)]="crearRecorrido.imagen">
          Titulo
          <input class="form-control" type="text" [(ngModel)]="crearRecorrido.titulo">
          Articulo
          <textarea class="form-control" rows="15" type="text"  [(ngModel)]="crearRecorrido.descripcion"></textarea>
          Dificultad
          <input class="form-control" type="text" [(ngModel)]="crearRecorrido.dificultad">
          Precio
          <input class="form-control" type="number" [(ngModel)]="crearRecorrido.precio">
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" title="Subir cambios" class="btn btn-lg m-1 fa-solid fa-cloud-arrow-up text-white rounded bg-success shadow-button border-0 hover-button" (click)="agregarRecorrido()"></button>
      </div>
    </div>
  </div>
</div>
<!-- FINAL MODAL agregar nuevo Recorrido-->

<!-- Inicio modal agregar nuevo Blog -->
<div class="modal fade" id="NuevoBlogModal" tabindex="-1" aria-labelledby="BlogNuevo" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="text-dark" id="BlogNuevo">Editar Blog</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="form-control fw-bold border-0 p-2">
          Imagen (URL)
          <input class="form-control" type="text" [(ngModel)]="crearBlog.imagen">
          Titulo
          <input class="form-control" type="text" [(ngModel)]="crearBlog.titulo">
          Articulo
          <textarea class="form-control" rows="15" type="text"  [(ngModel)]="crearBlog.articulo"></textarea>
          Fecha
          <input class="form-control" type="text" [(ngModel)]="crearBlog.fecha">
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" title="Subir cambios" class="btn btn-lg m-1 fa-solid fa-cloud-arrow-up text-white rounded bg-success shadow-button border-0 hover-button" (click)="agregarBlog()"></button>
      </div>
    </div>
  </div>
</div>
<!-- FINAL MODAL agregar nuevo Blog-->



