<div class="container">
  <h2 class="mx-4 m-2 recorridos">Recorridos</h2>
  <div class="clearfix m-4 contenedor" *ngFor="let recorrido of recorridos">
    <img src="{{recorrido.imagen}}"  class="col-md-6 float-md-end m-3 ms-md-3 img-recorridos rounded " alt="cerro Los Gigantes">
    <h5 class="titulo m-4">
    {{recorrido.titulo}}
    </h5>
    <p class="texto m-4">
    {{recorrido.descripcion}}    
    </p>
    <button type="button" class="btn btn-primary m-4"routerLink="/carrito">Seleccionar Fecha</button>
    <button (click)="clima_LosGigantes()" type="button" class="btn btn-outline-secondary m-2">Consultá el clima</button>
    <img class="dificultad" src="{{recorrido.dificultad}}" alt="dificultad máxima">
  </div>
</div>





