    <!--section hero-->
    <section class="hero container-fluid">
      <div class="overlay">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 ">
              <h2>
                MOUNTAIN HIKE CORDOBA <br> <span class="title-hero">Explora con confianza</span>
              </h2>
              <P class="d-none d-md-block">
                Saca al aventurero que hay en ti <br>
                Tanto si quieres dar un paseo tranquilo como si quieres ir de excursión a la montaña, tenemos todo lo que necesitas.
              </P>
              <p>
                Encuentra tu próxima ruta!!!
              </p>
              <a class="btn btn-primary " routerLink="/register" role="button">Registrate</a>
              
            </div>
          </div>
        </div>
      </div>
      </section>
      <!--END SECTION HERO-->

       <!--Section cards-trayectos-->

 <p class="reseña">
  Somos un equipo de profesionales entre los que hay profes de educación
  física, personal trainers, escaladores, ciclistas, guías. Nos une el
  mismo sentimiento, que es la pasión por lo que hacemos, pero por sobre
  todo amor y respeto por la naturaleza . Queremos inspirar a las personas
  a llevar sus viajes al siguiente nivel y conectarse con la naturaleza
  con la ayuda de guías profesionales que pueden mejorar las aventuras al
  aire libre para que sean únicas, enriquecedoras y seguras.
</p>


  <div class="container">
  <div class="row">
    <div class="col">
      <h2 class="title_hikeTheMountain">Hike the Mountain</h2>
    </div>
  </div>
  <div class="row mb-5">
      <div class=" col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4 ">
        <div class="card shadow ">
          <img src="../../assets/img/trayectos/imagen02.jpg" class="card-img-top " alt="Los Gigantes" />
          <div class="card-body">
            <h5 class="card-title">Los Gigantes</h5>
            <p class="card-text">
              Los Gigantes pertenecen al extremo norte de las Sierras Grandes.
              La formación se remonta a 300 y 350 millones de años atrás. El
              macizo es atractivo por las grandes piedras graníticas,que
              generan siluetas de incontables formas. Un laberinto que puede
              desorientar hasta al más aventurero, si no camina con mucha
              atención. Siendo uno de los centros de escalada en roca más
              importantes del país, sus paredes poseen unas 400 rutas equipadas
              de escalada deportiva.
            </p>
            <a routerLink="userLogin" class="btn btn_1">Reservas</a>
          </div>
        </div>
      </div>
      
      <div class=" col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4 ">
        <div class="card shadow">
          <img src="../../assets/img/trayectos/imagen0302.jpg" class="card-img-top" alt="Los Terrones"/>
          <div class="card-body">
            <h5 class="card-title">Los Terrones</h5>
            <p class="card-text">
              En la zona de Capilla del Monte todo es, o parece, de otro
              planeta, y si bien los extraños paisajes del Parque Autóctono
              Cultural y Recreativo Los Terrones parecen una obra de
              extraterrestres, las curiosas formaciones rocosas son el producto
              de la erosión del agua y el viento durante millones de años. Es un
              paseo ineludible para llenarse de energía en cualquier momento del
              año. Su recorrido entre cañadones y formaciones rocosas
              multicolores es una invitación para el asombro.
            </p>
            <a routerLink="userLogin" class="btn_1 btn">Reservas</a>
          </div>
        </div>
      </div> 
      <div class=" col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4 ">
        <div class="card shadow">
          <img src="../../assets/img/trayectos/imagen0402.jpg" class="card-img-top" alt="Champaquí" />
          <div class="card-body">
            <h5 class="card-title">Cerro Champaquí</h5>
            <p class="card-text">
              El Cerro Champaquí, un gigante de piedra de 2790 m.s.n.m., es la
              montaña más alta de la Provincia de Córdoba. Se ubica en el centro
              del Cordón de Sierras Grandes  se despliega hacia el este el Valle
              de Calamuchita y al oeste el Valle de Traslasierra. Esta montaña
              permite a cada excursionista que se aventure en sus dominios vivir
              nuevas y únicas experiencias y aventuras. Ofrece la posibilidad de regresar las 
              innumerables veces que puedas, con todos  los climas imaginables!!!.
            </p>
            <a routerLink="userLogin" class="btn btn_1">Reservas</a>
          </div>
        </div>
      </div>
</div>
</div>
<!--END Section cards-trayectos-->
<div class="container">

<!--Section Reseñas-Testimonios-->

  <section>
    <h1 class="mb-2">Reseñas</h1>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
      aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
      aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active text-size">
        <div class="img-avatar-size mx-auto img-fluid">
          <img src="../../assets/img/testimonios/avatar02.png" class="p-0 m-0 img-avatar-size img-avatar-display" alt="banner1" />
        </div>
        <div class="d-flex mx-auto flex-column justify-content-center align-items-center col-md-8 ">
          <h5 class="text-size">Jose</h5>
          <p class="city">Córdoba Capital</p>
          <p class="mb-5">
            El recorrido me encantó muy didáctico e informativo, se pueden
            observar lugares hermosos súper recomendable, una experiencia para repetir.
          </p>
        </div>
      
      </div>
      <div class="carousel-item text-size">
        <div class="img-avatar-size mx-auto img-fluid">
          <img src="../../assets/img/testimonios/avatar03.png" class="p-0 m-0 img-avatar-size img-avatar-display" alt="banner2" />
        </div>
        <div class="d-flex mx-auto flex-column justify-content-center align-items-center col-md-8 ">
          <h5 class="text-size">María</h5>
          <p class="city">Mendoza Capital</p>
          <p class="mb-5">
            Es la primera vez que conozco algo de Córdoba y me
            sorprendieron los paisajes, muy lindo recorrido espero poder
            realizar otros recorridos nuevos.
          </p>
        </div>
      </div>
      <div class="carousel-item text-size">
        <div class="img-avatar-size mx-auto img-fluid">
          <img src="../../assets/img/testimonios/avatar01.png" class="p-0 m-0 img-avatar-size img-avatar-display" alt="banner3" />
        </div>
        <div class="d-flex mx-auto flex-column justify-content-center align-items-center col-md-8 ">
          <h5 class="text-size">Abel y Fernanda</h5>
          <p class="city">Rosario de Santa Fe</p>
          <p class="mb-5">
            Hermosa experiencia para disfrutar con la pareja, un lugar
            hermoso lleno de verde y el guía nos resultó muy atento.
          </p>
        </div>
      </div>
      <div class="carousel-item text-size">
        <div class="img-avatar-size mx-auto img-fluid">
          <img src="../../assets/img/testimonios/avatar02.png" class="p-0 m-0 img-avatar-size img-avatar-display" alt="banner 4" />
        </div>
        <div class="d-flex mx-auto flex-column justify-content-center align-items-center col-md-8 ">
          <h5 class="text-size">Gonzalo</h5>
          <p class="city">San Miguel de Tucuman</p>
          <p class="mb-5">
            Me encantó, me tocó un grupo súper divertido y amigable, una
            experiencia para vivirla y disfrutarla.Todo un reto que no decepciona.
          </p>
        </div>
      </div>
      <div class="carousel-item text-size">
        <div class="img-avatar-size mx-auto img-fluid">
          <img src="../../assets/img/testimonios/avatar03.png" class="p-0 m-0 img-avatar-size img-avatar-display" alt="banner 5" />
        </div>
        <div class="d-flex mx-auto flex-column justify-content-center align-items-center col-md-8 ">
          <h5 class="text-size">Lorena</h5>
          <p class="city">La Rioja</p>
          <p class="mb-5"> 
            Me encantaría que agreguen recorridos de mi provincia, es un
            lugar inolvidable, hermoso los descansos están muy bien
            ubicados, muy conforme con el recorrido.
          </p>
        </div>
      </div>
      <div class="carousel-item text-size">
        <div class="img-avatar-size mx-auto img-fluid">
          <img src="../../assets/img/testimonios/avatar01.png" class="p-0 m-0 img-avatar-size img-avatar-display" alt="banner 6" />
        </div>
        <div class="d-flex mx-auto flex-column justify-content-center align-items-center col-md-8 ">
          <h5 class="text-size">Marcos y Mariela</h5>
          <p class="city">Buenos Aires</p>
          <p class="mb-5">
            Nos encantó el recorrido, el lugar es un sueño y el nivel
            de dificultad muy acorde para mi abuela, lo pudo superar sin
            problemas. Gracias!
          </p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>


<!--/ END Section Reseñas-->


<!--Section COLLAGE-->


  <div class="collage ">
    <div> <img src="../../assets/img/collage/imagen06.jpg" class="collage1" alt="">
    </div>
    <div> <img src="../../assets/img/collage/imagen08.jpg" class="collage3" alt="">
    </div>
    <div> <img src="../../assets/img/collage/imagen10.jpg" class="collage2" alt="">
    </div>
  </div> 
  

<!--/END Section COLLAGE-->


<!--SECTION SUBSCRIPTION-->


<div class="container mt-5 rounded custom-shadow">

    <div class="row align-items-stretch">
      <div class="col-bg---custom col-xl-6 col-md-5  rounded">
        
    </div>

    <div class=" col-xl-6  col col-md-7 col-sm-12 p-4 rounded-end mb-5">
      <h4 class="text-center py-5">No te pierdas las próximas salidas</h4>
      <form class="needs-validation"novalidate>
        <div class="mb-3">
          <label for="exampleInputNombre" class="form-label">Nombre</label>
          <input type="text" class="form-control custom-input" id="exampleInputNombre"placeholder="ingrese su nombre"required/>
          <div class="invalid-feedback">
            debe ingresar un nombre
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputApellido" class="form-label">Apellido</label>
          <input type="text" class="form-control custom-input" id="exampleInputApellido"placeholder="ingrese su apellido"
            required/>
            <div class="invalid-feedback">
              debe ingresar su apellido
            </div>
        </div>

        <div class="mb-3 mb-5">
          <label for="exampleInputEmail" class="form-label">Email</label>
          <input type="email" class="form-control custom-input" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="email@dominio.com" required />
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox"  id="terms" required/>
            <label class="form-check-label mb-3" for="terms">
              Acepta los términos y condiciones
            </label>
            <div class="valid-feedback">
              Debe estar de acuerdo antes de enviar.
            </div>
          </div>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Suscribite
          </button>
          <legend class="text-center mt-3">Para recibir novedades</legend>
        </div>
      </form>
    </div>
  </div>
</div>


</div>

<!--END SECTION SUSCRIPTION

-->

