<div class="container my-5">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="card bg-secondary text-white">
        <div class="card-header">
          <h1 class="card-title">Dashboard de usuario</h1>
        </div>
        <div>
          <p><strong>Nombre: </strong>{{userProfile?.first_name}}</p>
          <p><strong>Apellido: </strong> {{userProfile?.last_name}}</p>
          <p><strong>EMail: </strong> {{userProfile?.email}}</p>
        </div>
        
        <!-- <div class="card-body card-background rounded">
          <div *ngFor="let i of userData" class="my-4 ">
            <div class="d-flex flex-column flex-md-row justify-content-between">
              <h3 class="mb-3 mb-md-0">{{userData?.name}} {{userData?.lastName}}</h3>
              <div class="d-flex justify-content-center">
                <p class="d-flex align-items-center">
                  <span class="fa-solid fa-phone me-3"></span>{{i.telefono}}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <p><b>Edad</b>: {{i.edad}}</p>
              </div>
              <div class="col-md-4">
                <p><b>Ciudad</b>: {{i.ciudad}}</p>
              </div>
              <div class="col-md-6">
                <p><b>Email</b>: {{i.email}}</p>
              </div>
            </div>
            <button type="button" data-bs-target="#EditarDatosPesonalesModal" data-bs-toggle="modal" title="Editar datos personales" class="btn btn-lg m-1 fa-solid fa-pen-fancy text-white rounded bg-primary shadow-button border-0 hover-button"></button>
          </div>
        </div> -->
      </div>
    
      <div class="card bg-secondary text-white">
        <div class="card-header">Reservas contratadas:</div>
        <div *ngFor="let reserva of reservas">
          Reserva realizada el día {{reserva.fecha | date: 'dd/MM'}} a las {{reserva.fecha | date: 'HH:mm:ss'}}, Para {{reserva.cantidadParticipantes}} participantes. Valor: ${{reserva.valor}}. Recorrido: TODO. Fecha de la excursion: TODO
        </div>
            
      </div>
    </div>
  </div>
</div>

<!-- TODO faltan modales y logica -->

