    <div class="container w-100 mb-lg-4  mt-5 rounded custom-shadow">
      <div class="row ">
<!--imagen de fondo izquierda-->
        <div class="col-bg--custom__Account col-md-6 col-xl-5  col-lg-5  d-lg-block rounded">
        </div>
<!--imagen de fondo izquierda-->

<!--login lado derecho-->
        <div class="  col-md-6 col col-xl-7  p-4 rounded-end">
  <!--logo miniatura-->
        
          <div class="text-end">
            <img src="../Assets/img/logoMountainBlanco.png" width="60" alt="">
          </div>
        
  <!--/logo miniatura-->
          <h2 class="fw-bold text-center py-5">Registro de cuenta nueva</h2>
          <form class="row needs-validation" novalidate>
            <div class="mb-3 col-md-6">
              <label for="exampleInputtext" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="exampleInputtext" placeholder="ingrese acá su nombre" required>
              <div class="valid-feedback">
                todo bien
              </div>
              <div class="invalid-feedback">
                debe ingresar un nombre
              </div>
            </div>
            <div class="mb-3 col-md-6">
              <label for="exampleInputtext1" class="form-label">Apellido</label>
              <input type="text" class="form-control" id="exampleInputtext1" placeholder="ingrese acá su apellido" required>
              <div class="valid-feedback">
                todo bien
              </div>
              <div class="invalid-feedback">
                debe ingresar su apellido
              </div>
            </div>
           
            <div class="mb-3 col-md-4">
              <label for="exampleInputtext1" class="form-label">País</label>
              <input type="text" class="form-control" id="exampleInputtext1" placeholder="país de residencia" required>
              <div class="valid-feedback">
                todo bien
              </div>
              <div class="invalid-feedback">
                debe ingresar el país donde reside
              </div>
            </div>

            <div class="mb-3 col-md-5">
              <label for="exampleInputtext1" class="form-label">Ciudad</label>
              <input type="text" class="form-control" id="exampleInputtext1" placeholder="ciudad donde reside"required>
              <div class="valid-feedback">
                todo bien
              </div>
              <div class="invalid-feedback">
                debe ingresar la ciudad donde reside
              </div>
            </div>

            <div class="mb-3 col-md-3">
              <label for="exampleInputtext1" class="form-label">Cod. postal</label>
              <input type="text" class="form-control" id="exampleInputtext1" placeholder="ingrese su CP"required>
              <div class="valid-feedback">
                todo bien
              </div>
              <div class="invalid-feedback">
                debe ingresar el código postal
              </div>
            </div>

            <div class="mb-3 col-md-6">
              <label for="exampleInputtext2" class="form-label">Edad</label>
              <input type="text" class="form-control" id="exampleInputtext2" placeholder="ingrese su edad" required>
              <div class="valid-feedback">
                todo bien
              </div>
              <div class="invalid-feedback">
                ingrese su edad
              </div>
            </div>
            <div class="mb-3 col-md-6">
              <label for="validationCustom04" class="form-label">Sexo</label>
              <select class="form-select" id="validationCustom04" required>
                <option selected disabled value="">Ingrese su sexo</option>
                <option>Hombre</option>
                <option>Mujer</option>
                <option>Otro</option>
                <option>Prefiero no contestar</option>
              </select>
              <!-- <input type="text" class="form-control" id="exampleInputtext2" placeholder="ingrese su sexo" required> -->
              <div class="valid-feedback">
                todo bien
              </div>
              <div class="invalid-feedback">
                ingrese su sexo
              </div>
            </div>

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Ingrese su Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ingrese acá su correo electronico"required>
              <div class="valid-feedback">
                todo bien
              </div>
              <div class="invalid-feedback">
                debe ingresar un mail válido
              </div>
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword" placeholder="ingrese acá su contraseña"required>
              <div class="valid-feedback">
                todo bien
              </div>
              <div class="invalid-feedback">
                debe ingresar una contraseña
              </div>
            </div>
        
            <div class="form-check mb-3 ms-3">
              <input class="form-check-input" type="checkbox" id="terms"required>
              <label for="terms" class="form-check-label ">Acepto los términos y condiciones</label>
              <div class="valid-feedback">
                todo bien
              </div>
              <div class="invalid-feedback">
                es necesario aceptar los términos
              </div>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Registrarse</button>  
            </div>
          </form>
        </div>
      </div>
    </div>
 