<div class="container w-100 mb-lg-4  mt-5 rounded custom-shadow">
  <div class="row ">
<!--imagen de fondo izquierda-->
    <div class="col-bg--custom__Account col-md-6 col-xl-5  col-lg-5  d-lg-block rounded"></div>
<!--imagen de fondo izquierda-->

<!--login lado derecho-->
    <div class="  col-md-6 col col-xl-7  p-4 rounded-end">
  <!--logo miniatura-->
        
      <div class="text-end">
        <img src="../Assets/img/logoMountainBlanco.png" width="60" alt="">
      </div>
        
  <!--/logo miniatura-->
      <h2 class="fw-bold text-center py-5">Registro de cuenta nueva</h2>
      <form >
        <div class="mb-3 col-md-6">
          <label for="exampleInputtext" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="exampleInputtext" >
        </div>
        <div class="mb-3 col-md-6">
          <label for="exampleInputtext1" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="exampleInputtext1">
        </div> 
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Ingrese su Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword" >
        </div>        
        <div class="form-check mb-3 ms-3">
          <input class="form-check-input" type="checkbox" id="terms"required>
          <label for="terms" class="form-check-label ">Acepto los términos y condiciones</label>
        </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Registrarse</button>  
          </div>
      </form>
    </div>
  </div>
</div>
