  <!--footer-->
  <footer class="container-foot">
    <div class="mountain">
      <img id="logmountain" src="frontend/Assets/img/logoMountainBlanco.png" alt="logoMHblanco" width="60px" />
      <h2 class="foot-mountain"> 
        MOUNTAIN HIKE
      </h2>
      <p class="descripcion-foot">
      Mountain Hike es una plataforma en la que podras elegir tus mejores
      rutas y aventuras, obteniendo una experiencia única.
      </p>
    </div>
    <div class="contact">
     <h2 class="foot-contacto">CONTACTO</h2>
     <ul class="lista-contacto">
        <li>
          <img id="logdireccion" src="frontend/Assets/img/icono-direccion.png" alt="logoDireccion" />
        Córdoba, Argentina
        </li>
        <li>
         <img id="logmail" src="frontend/Assets/img/icono-Mail.png" alt="logoMail" />
        contacto@mountainhike.com
       </li>
       <li>
         <img id="logtelefono" src="frontend/Assets/img/icono-phone.png" alt="logoTelefono" width="40px" />
        3514 56 6566
       </li>
        <li>
          <img id="logwathsapp" src="frontend/Assets/img/icono-whatsapp.png" alt="logoWhatsapp" />
        +54 3514566665
        </li>
     </ul>
   </div>
    <div class="seguinos">
      <h2 class="foot-seguinos">SEGUINOS</h2>
      <div class="seguinos-elements">
        <a href="https://www.facebook.com"><img id="logfacebook" src="frontend/Assets/img/redes-facebook.png"
        alt="logoFacebook" width="60px" /></a>
     <a href="https://www.instagram.com"><img id="loginstagram" src="frontend/Assets/img/redes-instagram.png"
        alt="logoInstagram" width="60px" /></a>
      <a href="https://www.youtube.com"><img id="logyoutube" src="frontend/Assets/img/redes-youtube.png"
        alt="logoYoutube" width="60px" /></a>
     <a href="https://play.google.com"><img id="logandroid" src="frontend/Assets/img/redes-android.png"
        alt="logoAndroid" width="60px" /></a>
     </div>
    </div>
  <div class="rights">
    <h3 class="derechos-foot">Mountain Hike Córdoba © 2022 • Todos los Derechos Reservados •</h3>
    <a href="http://dsf.com.ar/"target="_blank" class="text-decoration-none"><img id="logdisenando" src="frontend/Assets/img/logoDiseñandoSinFronteras.png" alt="logodelDiseñador"
        width="50px" /><span class="badge bg-secondary"> Página creada por diseñando sin fronteras</span ></a>
   </div>
  </footer>
  <!--/footer-->