<main>
    <h1>Nuestra Historia</h1>
    <p class="nosotros">
      Somos un equipo de profesionales entre los que hay profes de educación
      física, personal trainers, escaladores, ciclistas, guías. Nos une el
      mismo sentimiento, que es la pasión por lo que hacemos, pero por sobre
      todo amor y respeto por la naturaleza . Queremos inspirar a las personas
      a llevar sus viajes al siguiente nivel y conectarse con la naturaleza
      con la ayuda de guías profesionales que pueden mejorar las aventuras al
      aire libre para que sean únicas, enriquecedoras y seguras. Ayudar a
      nuestra comunidad en su camino de exploración y compartir experiencias
      es lo que nos impulsa todos los días y nuestra máxima cumbre. Los guías
      experimentados se asegurarán de que la experiencia sea lo más segura
      posible, pero también de que te vayas a casa con una gran sonrisa en la
      cara. Es un hecho: la aventura hace feliz a la gente. La satisfacción de
      cumplir tu meta es tu recompensa y nuestra obligación. Al contratar un
      guía local, no sólo estarás haciendo lo que amas y viviendo una
      experiencia memorable; también apoyará las economías locales y permitirá
      que grandes guías se ganen la vida con su pasión.
    </p>
    <img class="img_nosotros" src="../Assets/img/img_nosotros/ciclista.jpg" alt="ciclista" />
    <img class="img_nosotros" src="../Assets/img/img_nosotros/escaladora.jpg" alt="escaladora" />
    <img class="img_nosotros" src="../Assets/img/img_nosotros/guiamontania.jpg" alt="guia de montaña" />
    <img class="img_nosotros" src="../Assets/img/img_nosotros/profe.jpg" alt="profesor de educación física" />
    <img class="img_nosotros" src="../Assets/img/img_nosotros/profe2.jpg" alt="profesor de educación física" />
    <img class="img_nosotros" src="../Assets/img/img_nosotros/profe3.jpg" alt="profesora de educación física" />

    <p class="proximamente">¡Próximamente!</p>
    <p class="proximamente">Sumate a nuestro equipo</p>
    <p class="proximamente">Envíanos tu currículum</p>
  </main>

  <div *ngFor="let i of guias">
<img src="{{i.foto}}">
<p>{{i.nombre}}</p>
<p>{{i.apellido}}</p>
<p>{{i.descripcion}}</p>
  </div>