h1{
    text-align: center;
    padding: 10px;
    color: #98ca3e;
    
}
.nosotros{
    text-align: justify;    
    margin: 20px ;
    font-size: 20px ;
    
}
.subtit{
    text-align: justify;
    margin: 20px ;
}
/* .img_nosotros{
    width: 300px;
    height: 300px;
    margin: 50px;
    border-radius: 10px; 
}*/
.descripcion-guia{
    text-align: justify;
}
.proximamente{
    text-align: center;
    font-size: 20px;
}
.foto{
    /* padding-left: 80px; */
    border-radius: 50px;
    
    
}
.datos-guia{
    margin-top: 15px;
    
}
.guias{

    border: 3px solid #98ca3e;
    border-radius: 20px;
    background-color: #393939;
    margin: 20px;
    
}


/* .img-guias {
    max-width: 15rem;
    min-width: 15rem;
    max-height: 15rem;
    border-radius: 15px;
    

} */
/* .row {
    flex-wrap: wrap;
    align-content: flex-start;
} */



/* @media only screen and (max-width: 700px){
    
    .guias{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .row{
        text-align: center;
        padding-top: 1rem;
    }
    .img-guias{
        margin-right: 0;
    }
    
} */