<main class="container">
    <h1>Nuestra Historia</h1>
    <p class="nosotros">
      Somos un equipo de profesionales entre los que hay profes de educación
      física, personal trainers, escaladores, ciclistas, guías. Nos une el
      mismo sentimiento, que es la pasión por lo que hacemos, pero por sobre
      todo amor y respeto por la naturaleza . Queremos inspirar a las personas
      a llevar sus viajes al siguiente nivel y conectarse con la naturaleza
      con la ayuda de guías profesionales que pueden mejorar las aventuras al
      aire libre para que sean únicas, enriquecedoras y seguras. Ayudar a
      nuestra comunidad en su camino de exploración y compartir experiencias
      es lo que nos impulsa todos los días y nuestra máxima cumbre. Los guías
      experimentados se asegurarán de que la experiencia sea lo más segura
      posible, pero también de que te vayas a casa con una gran sonrisa en la
      cara. Es un hecho: la aventura hace feliz a la gente. La satisfacción de
      cumplir tu meta es tu recompensa y nuestra obligación. Al contratar un
      guía local, estarás haciendo lo que amas y viviendo una
      experiencia memorable.
    </p>
    <h2 class="subtit"> Conocé a nuestros guias:</h2>
  
 <div *ngFor="let guia of guias" class="row guias" >
  
      <img  [ngClass]="['col-xl-4','col-lg-4', 'col-md-11', 'col-sm-11','m-4', 'foto']"  src="{{guia.foto}}">
      <div [ngClass]="['col-xl-6','col-lg-6', 'col-md-11', 'col-sm-11','m-3', 'datos-guia']">
      <h2 class="datos-guia" >{{guia.nombre}} {{guia.apellido}}</h2>
      <p class="descripcion-guia">{{guia.descripcion}}</p>
    </div>
    
   
</div>
    <!-- <p class="proximamente">¡Próximamente!</p>
    <p class="proximamente">Sumate a nuestro equipo</p>
    <p class="proximamente">Envíanos tu currículum</p> -->
  </main>

 