<header class="header">
    <a href="index.html" class="logo">
      <img src="../../../assets/img/header/logoMountainBlanco.png" alt="logo de la compañia" class="logo-img" />
    </a>
    <input type="checkbox" id="check">
    <label for="check" class="mostrar-menu">
      &#8801;
    </label>

    <nav class="navbar">
      <a routerLink="" class="nav-menu-item nav-link">Home</a>

      <!-- /* Aqui ir agregando las demás rutas eliminando href y cambiandolo por routerLink="nosotros" o el nombre que se le haya asignado en app-routing.module.ts */ -->
      
      <a href="frontend/View/nosotros.html" class="nav-menu-item nav-link">Nosotros</a>
      <a href="frontend/View/Asesoramiento.html" class="nav-menu-item nav-link">Recorridos</a>
      <a href="frontend/View/blog.html" class="nav-menu-item nav-link">Blog</a>
      <a href="frontend/View/loginPage.html" class="nav-menu-item nav-link">Iniciar sesión</a>
      <label for="check" class="esconder-menu">
        &#215;
      </label>
    </nav>
 </header>
